.yazi {
    width: 50vw;
    margin: 2rem auto;
    text-align: center;
    font-size: 2rem;

    
}
.yazi1 {
    background-color: aqua;
    transform: rotateX(180deg);

}
.yazi2 {
    background-color: aquamarine;
    transform: rotateY(180deg);

}
.yazi3 {
    background-color: blue;
    
}

.yazi3:active {
    background-color: blue;
    transform: rotate(-45deg);
    transform-origin: 25%;

}
.yazi4 {
    background-color: blueviolet;
    transform: scaleX(1.5);

}
.yazi5 {

    background-color: brown;
    
}
.yazi5:active{

    background-color: brown;
    transform: scaleY(3);

}
.yazi6 {
background-color: chartreuse;
transform: scale(.9);
cursor: pointer;
}
img {
    transform: skew(10deg,30deg);
}
