* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

nav *{ color: white;

}
nav {
    
    display: flex;
}

nav .left {
    background-color: rgb(63, 121, 121);
    display: flex;
    justify-content: center;
}

nav .left img {
    width: 60px;
}
nav .middle {
    background-color: rgb(151, 139, 138);
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 0px 10 px black;
    border-radius: 10px;
    position: relative;
}
    

nav .right {
    background-color: rgb(221, 145, 168);
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
}
    

nav .left,
nav .middle,
nav .right {
    flex: 1;
}









header{
    background-color: bisque;
    padding: 4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;


}

.img{
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    justify-content: flex-end;

}
.text{
    /* border: 2px solid rgb(76, 0, 255); */
    flex:1 300px;


}

section.img img {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
}