@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Sorts+Mill+Goudy:ital@0;1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /* background-image:url(./images/background_image.jpg); */
    color: white;
}
.container{
    /* border:1px solid red; */
    max-width:1240px;
    height:1036px;
    background-color: rgba(0,0,0,0.3);
    margin: auto;
    margin-top: 30px;
}
#title{
    font-size: 3.1 rem;
    font-family: 'Bowlby One SC', sans-serif;
    
}
.description{
    font-family: 'Sorts Mill Goudy', serif;
    font-style: italic;
    font-size: 1.5rem;
}

span{
    color: red;
}

.header{
    /* border: 1px solid red; */
    text-align: center;
    
}
