* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  background-color: pink;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: white;
}

header {
  background-color: #30a7c3;
}