@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,400;0,700;1,400;1,700&family=Judson:ital,wght@0,700;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFEFEF;
    font-family: 'Judson', serif;
    background-image: url(./images/vector.jpg);
    height: 100vh;
    padding-bottom: 500px;
}

/* <!-- !ICONBAR! --> */

.container {
    /* border: 2px solid red; */
    width: 80%;
    margin: 50px auto;
    background-color: #eeecec;
    border-radius: 1.5rem;
    box-shadow:2px 2px 50px black
    
}
.iconbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    flex-wrap: wrap;
    margin-left:3rem;

}

.input-part {
    /* border: 2px solid rgb(16, 11, 90); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    

}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: -1px 1px 5px black;
    margin: 1rem;

}
.input-part select {
    background-color: #d9d9d9;
    width: 188px;
    height: 40px;
    border-radius: 5px;
    font-family: "Bellota", cursive;
    font-weight: 600;

}
.search-input {
    width: 300px;
    height: 40px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    align-items: center;
    border-radius: 5px;
    border-color: #d9d9d9;
    border: 1px;
    background-color: #d9d9d9;
}
.search-input input {
    border: none;
    outline: none;
    background-color:inherit;
    padding: 10px;
    font-size: 1rem;

}

.search-input img {
    margin: 1rem;

}


.icons {
    /* border: 2px solid rgb(0, 255, 115); */

}

.support {
    text-align: right;
    margin-left: 1rem;
}

.support-text {
    font-size: 0.8rem;
}

.icons {
    margin-right: 2rem;


}

.icons img {
    padding: 10px;

}




/* <!-- !NAVBAR! --> */

.navbar {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 50px;
    margin-left: 3rem;

}

.button {
    /* border: 2px solid rgb(39, 24, 105); */
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 5px;
    font-size: 1.3rem;
    font-style: italic;
    
}

.button {
    margin-left: 1rem;
}

.nav {
    /* border: 2px solid rgb(153, 185, 9); */
    margin-left: 1rem;

}

li {
    display: inline-block;
    margin-left: 1rem;
    color:#242323;
}

/* <!-- !HEADER! --> */

header {
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
gap: 1rem;
margin-top: 1rem;
background-image: url(./images/stock.jpg);
padding: 1rem 5rem;

    
}

.essential {
    background-color: #d5dee5;
    display:flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}


.essential-text {
    padding: 20px;
    font-style: italic;
    font-size: 2rem;
    letter-spacing: 0.3px;
    
}


.lighting {
    background-color:#ffc868;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
    position: relative;
    height:300px;
    width: 400px;
    overflow: hidden;


}


.lighting img {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    /* border-radius: 5px; */



}

.lighting p {
    /* border: 2px solid red; */
    /* margin-left: auto; */
    width: 80%;
    margin-top: 20px;
    float: right;
    font-style: italic;
    padding: 2rem;
    
}

/* <!-- !CATEGORY! --> */

.categorySection {
    background-color: #aea08d;
}

.category-part ,
.product-part {
    padding: 2rem;
    font-size: 1.5rem;

}

.categories ,
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.category {
    height: 20rem;
    width: 20rem;
    background-color: #787676;
    margin: 1rem;
    padding: 1rem 2px 1rem 1rem;
    box-shadow: 2px 2px 50px black;
    border-radius: 10px;


}
.category img {
    width: 100%;
    height: 100%;
    padding: 1rem 10px 1rem 1rem;
    border-radius: 2rem;

}

/* <!-- !PRODUCT! --> */

.productSection {
    background-color: #eeecec;  


}


.product {
    height: 20rem;
    width: 20rem;
    background-color: #d9d9d9;
    margin: 1rem;
    box-shadow: 2px 2px 50px black;
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;

}
.category ,
.product {
    transition: all ease-in-out .4s;
    opacity: .8;
}

.product:hover , 
.category:hover {
    opacity: 1;
    
}

.product img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    transition: all 1s;
}

.product img:hover{
    transform: scale(1.1);
}

/* <!-- !CONTACT! >-- */

.contact {
    background-color: #aea08d;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.expert {
    background-color: inherit;
    /* width: 60%; */
    flex:3;
    padding: 1rem;

}

.lookForExpert {
    font-family:"Bellota ",cursive;
    font-size: 2rem;
    line-height: 1.5;


}

span {
    color: #f37705;

}
.leadVeInfo{

    font-family: "Judson", serif;
    margin-top: 1rem;
    font-size: 1rem;
}

.formSection {
    /* background-color: blue; */
    /* width: 40%; */
    flex:2;
    font-size: 1.5rem;
}
.formElement {

    margin: 1.5rem 1rem;
}

.formElement input{
    width: 100%;
    outline: none;
    border: none;
    padding: 0.5rem;
    background-color: inherit;
    border-bottom: 1px solid black;


}

.submit{
    padding: 1rem;
    border-radius: 5px;
    width: 13rem;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-style: italic;
    margin-left: 1rem;

}

.copyright {
    display: flex;
    justify-content: space-between;
    padding:2rem;
    align-items: center;


}


.policy {
    display:flex;
    gap: 1rem;


}

.policy a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid black;



}