.container {
    display:grid;
    grid-template-columns: 250px 400px 350px;
    grid-template-rows: 250px 300px 100px;

}

.parca {
    /* border: 2px solid red; */
    text-align: center;
}

.parca:nth-child(odd){
    background-color: lightgray;
    
}

.parca:nth-child(even){
    background-color: pink;
}
.bir {
    background-image: url(../../Flexbox/img/owl.png);
    background-size: cover;
}
.dört {
    overflow: auto;
    background-color: lightseagreen !important;
}