@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap'); 
    
    
    .app{
    background-color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.banana{
    font-family: 'Nova Square', sans-serif;

}
.lorem{
font-family: 'Vina Sans', sans-serif; ;
}

.tcolor{
    color:brown;
    background-color: beige;
}
.alignment{
    text-align:center;
    background-color: blue;
    color: azure;
}

.align{
    width:50%;
    /* margin: auto; */

}
.decoration{
    text-decoration:underline overline wavy 3px red;
    line-height: 2rem;

}
a{
    text-decoration: none;
    background-color: purple;
    color: pink;
    padding: 10px;
    border-radius: 3px;
    margin: 20px;
}
.trans{
    margin-top: 20px;
    text-transform: capitalize;
}
.indent{
    text-indent: 15px;
}
.letter{
    letter-spacing: 3px;
    text-align: center;
}
.word{
    word-spacing: 10px;
    text-align: center;
    background-color: green;
}
.line{
    background-color: crimson;
    line-height: 1.5;
    padding: 20px;
    /* margin: auto; */
    /* width:40% */
}
.shadow{
    margin: 20px;
    line-height: 25px;
    text-shadow: 15px 2px 5px rebeccapurple;

}
.box {
    background-color: orange;
    box-shadow: 5px 10px 2px;
}