.app{
    background-color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.banana{
    font-family: 'Nova Square', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Share Tech Mono', monospace;
}